<h2>Ajouter un contact</h2>
<form ng-submit="ajouter()">
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" placeholder="Prénom" ng-model="contact.prenom">
    </div>
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom" ng-model="contact.nom">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="contact.email">
    </div>
    <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="tel" class="form-control" id="telephone" placeholder="Téléphone" ng-model="contact.telephone">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>