<h2>Liste des contacts</h2>
<table class="table table-striped">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="contact in contacts">
        <td>{{contact.prenom}}</td>
        <td>{{contact.nom}}</td>
        <td>
            <a ui-sref="contact-show({id: contact._id})" class="btn btn-xs btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Afficher
            </a>
            <a href="#" class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Modifier
            </a>
            <a ng-click="supprimer(contact)" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Supprimer
            </a>
        </td>
    </tr>
</table>